<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html"; charset="windows-1252">
    <title>Nilai siswa</title>
    <style type="text/css">
        
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }
        
        .krs_box {
            border: 1px solid #000;
        }
        
        .krs_box * {
            text-align: center;
            padding: 0 1px;
        }
        
        .krs_box td,
        .krs_box th {
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
        }
        
        .krs_box th {
            font-size: 12px;
        }
        
        .tl {
            text-align: left;
            padding-left: 10px
        }
        
        .tc {
            text-align: center;
            height: 27px;
        }
        
        .tr {
            text-align: right;
        }
        
        .tj {
            text-align: justify;
        }
        
        .fb {
            font-weight: bold;
        }
        
        .line {
            border-bottom: 1px dashed #000;
            clear: both;
        }

    </style>
    <script type="text/javascript" src="chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js"></script>
</head>
<body cz-shortcut-listen="true">
    <div style="margin:0 auto;width:900px;">
        <br>
        <br>
        <table align="center" width="900" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="350" style="font-weight: bold;text-align: center;">
                        <div style="font-size:25px;font-family:Times New Roman,Times,serif">NILAI UJIAN MURNI SISWA</div>
                        <div style="font-size:20px;">MTs Bima Bhakti Pertiwi</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table border="0" align="center" width="900" cellpadding="0" cellspacing="5" >
            <tbody style="font-size: 20px;font-family:Times New Roman,Times,serif">
                <?php ($value) ?>
                <tr>
                    <td width="100"><strong>NAMA</strong></td>
                    <td width="12"><strong>:</strong></td>
                    <td width="470"><strong>TES</strong></td>
                </tr>
                <tr>
                    <td><strong>NIS</strong></td>
                    <td><strong>:</strong></td>
                    <td><strong>TES</strong></td>
                </tr>
                <tr>
                    <td><strong>KELAS</strong></td>
                    <td><strong>:</strong></td>
                    <td><strong>TES</strong></td>
                </tr>
            </tbody>
        </table>
        <table width="900" align="center" border="0" cellpadding="0" cellspacing="0" class="krs_box">
            <tbody>
                <tr>
                    <th style="font-size: 15px;" rowspan="2" width="30">NO</th>
                    <th style="font-size: 15px;" rowspan="2" width="300">MATA PELAJARAN</th>
                    <th style="font-size: 15px;" colspan="4">NILAI</th>
                </tr>
                <tr>
                    <th style="font-size: 15px;" width="60">PTS 1</th>
                    <th style="font-size: 15px;" width="60">PAS</th>
                    <th style="font-size: 15px;" width="60">PTS 2</th>
                    <th style="font-size: 15px;" width="60">PAT</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <th class="tr" colspan="2">Jumlah&nbsp;</th>
                    <th class="tc">20</th>
                    <th class="tc">20</th>
                    <th class="tc">20</th>
                    <th class="tc">20</th>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <table width="900" align="center" border="0" cellpadding="0" cellspacing="0" class="krs_box">
            <tbody>
                <tr>
                    <th style="font-size: 15px;" rowspan="2" width="30">NO</th>
                    <th style="font-size: 15px;" rowspan="2" width="300">EKSTRAKURIKULER</th>
                    <th style="font-size: 15px;" colspan="4">NILAI</th>
                </tr>
                <tr>
                    <th style="font-size: 15px;" width="60">PTS 1</th>
                    <th style="font-size: 15px;" width="60">PAS</th>
                    <th style="font-size: 15px;" width="60">PTS 2</th>
                    <th style="font-size: 15px;" width="60">PAT</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td class="tl">METODOLOGI PENELITIAN<br><em>RESEARCH METHODOLOGY</em></td>
                    <td>2</td>
                    <td> / &nbsp; &nbsp; / </td>
                    <td> / &nbsp; &nbsp; /</td>
                    <td> / &nbsp; &nbsp; /</td>
                </tr>
                <tr>
                    <th class="tr" colspan="2">Jumlah&nbsp;</th>
                    <th class="tc">20</th>
                    <th class="tc">20</th>
                    <th class="tc">20</th>
                    <th class="tc">20</th>
                </tr>
            </tbody>
        </table>

        <br>
        <br> 
        <div class="line"></div>
        <!--<table width="100%" border="0">
            <tbody>
                <tr>
                    <td align="center">
                        <img src="http://amikom.ac.id/public/fotomhs/2018/18_02_0287.jpg" alt="MUHAMMAD FARRIJ RIFAI" width="150" style="border:2px outset #777777;"> </td>
                </tr>
            </tbody>
        </table>-->
        <br>
        <br>
    </div>
    <div style="text-align:center;" class="tc">
        [
        <a href="javascript:void()" onclick="print()">CETAK</a>
        ]
    </div>
    <br>
    <br>
</body>
</html>